:root {
  --roles-roundness: 0;
  --roles-roundness-calc: calc((var(--roles-roundness) + .21) * 25px)
  --rs-small-spacing: 2px;
  --rs-medium-spacing: 3px;
  --rs-large-spacing: 4px;
  --rs-small-width: 2px;
  --rs-medium-width: 3px;
  --rs-large-width: 4px;
  --rs-width: 2px;
  --rs-avatar-shape: 50%;
  --rs-online-color: #72f1b8;
  --rs-idle-color: #fede5d;
  --rs-dnd-color: #fe4450;
  --rs-offline-color: #b6b1b1;
  --rs-streaming-color: #643da7;
  --rs-invisible-color: #b6b1b1;
  --rs-phone-visible: block;
  --rs-phone-color: var(--rs-online-color);
  --rs-version: "2.0.8";
  --font-primary:Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;
  --font-display:"ABC Ginto Normal","Helvetica Neue",Helvetica,Arial,sans-serif;
  --font-headline:"ABC Ginto Nord","Helvetica Neue",Helvetica,Arial,sans-serif;
  --font-code:Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;
  --font-korean:Whitney,"Apple SD Gothic Neo",NanumBarunGothic,"\B9D1\C740 \ACE0\B515","Malgun Gothic",Gulim,굴림,Dotum,돋움,"Helvetica Neue",Helvetica,Arial,sans-serif;
  --font-japanese:Whitney,"Hiragino Sans","\30D2\30E9\30AE\30CE\89D2\30B4 ProN W3","Hiragino Kaku Gothic ProN",メイリオ,Meiryo,Osaka,"MS PGothic","Helvetica Neue",Helvetica,Arial,sans-serif;
  --font-chinese-simplified:Whitney,"Microsoft YaHei New",微软雅黑,"Microsoft Yahei","Microsoft JhengHei",宋体,SimSun,"Helvetica Neue",Helvetica,Arial,sans-serif;
  --font-chinese-traditional:Whitney,"Microsoft JhengHei",微軟正黑體,"Microsoft JhengHei UI","Microsoft YaHei",微軟雅黑,宋体,SimSun,"Helvetica Neue",Helvetica,Arial,sans-serif
}

@font-face{
  font-family:Whitney;
  font-style:normal;
  font-weight:300;
  src:url(https://theskyisaboveus.github.io/discordMods/fonts/46933da896ba96126074286056614542.woff2) format("woff2")
}

@font-face{
  font-family:Whitney;
  font-style:italic;
  font-weight:300;
  src:url(https://theskyisaboveus.github.io/discordMods/fonts/1651ce6325c0da043476ace0bec3971b.woff2) format("woff2")
}

@font-face{
  font-family:Whitney;
  font-style:normal;
  font-weight:400;
  src:url(https://theskyisaboveus.github.io/discordMods/fonts/24bda95d153a319704c33329f3ab84bb.woff2) format("woff2")
}

@font-face{
  font-family:Whitney;
  font-style:italic;
  font-weight:400;
  src:url(https://theskyisaboveus.github.io/discordMods/fonts/7f18f1d5ab6ded7cf71bbc1f907ee3d4.woff2) format("woff2")
}

@font-face{
  font-family:Whitney;
  font-style:normal;
  font-weight:500;
  src:url(https://theskyisaboveus.github.io/discordMods/fonts/cf4a8a10bbdf9b775fad41e0b9921c84.woff2) format("woff2")
}

@font-face{
  font-family:Whitney;
  font-style:italic;
  font-weight:500;
  src:url(https://theskyisaboveus.github.io/discordMods/fonts/9cfa747e897c772d25efd8e4a42a005e.woff2) format("woff2")
}

@font-face{
  font-family:Whitney;
  font-style:normal;
  font-weight:600;
  src:url(https://theskyisaboveus.github.io/discordMods/fonts/f9e7047f6447547781512ec4b977b2ab.woff2) format("woff2")
}

@font-face{
  font-family:Whitney;
  font-style:italic;
  font-weight:600;
  src:url(https://theskyisaboveus.github.io/discordMods/fonts/21070f52a8a6a61edef9785eaf303fb8.woff2) format("woff2")
}

@font-face{
  font-family:Whitney;
  font-style:normal;
  font-weight:700;
  src:url(https://theskyisaboveus.github.io/discordMods/fonts/f9c8fcfa7dcc5d6a291a6ebbe3bb847e.woff2) format("woff2")
}

@font-face{
  font-family:Whitney;
  font-style:italic;
  font-weight:700;
  src:url(https://theskyisaboveus.github.io/discordMods/fonts/5e1649183589023fb24667a369af585d.woff2) format("woff2")
}

@font-face{
  font-family:ABC Ginto Normal;
  font-style:normal;
  font-weight:300;
  src:url(https://theskyisaboveus.github.io/discordMods/fonts/ab688947d482808a0b3347f84ebb17a9.woff2) format("woff2")
}

@font-face{
  font-family:ABC Ginto Normal;
  font-style:italic;
  font-weight:300;
  src:url(https://theskyisaboveus.github.io/discordMods/fonts/0635f419b122d24f9f60ac4d1066cbc6.woff2) format("woff2")
}

@font-face{
  font-family:ABC Ginto Normal;
  font-style:normal;
  font-weight:400;
  src:url(https://theskyisaboveus.github.io/discordMods/fonts/91dcabd038a2e07ea6fbe7ddb625ecfb.woff2) format("woff2")
}

@font-face{
  font-family:ABC Ginto Normal;
  font-style:italic;
  font-weight:400;
  src:url(https://theskyisaboveus.github.io/discordMods/fonts/ea053183733605b24806f222b067b1e1.woff2) format("woff2")
}

@font-face{
  font-family:ABC Ginto Normal;
  font-style:normal;
  font-weight:500;
  src:url(https://theskyisaboveus.github.io/discordMods/fonts/9491a199bd318f1fc38711fb5067f401.woff2) format("woff2")
}

@font-face{
  font-family:ABC Ginto Normal;
  font-style:italic;
  font-weight:500;
  src:url(https://theskyisaboveus.github.io/discordMods/fonts/f0cf30536a7fa447f0c45fdb3b2a6f28.woff2) format("woff2")
}

@font-face{
  font-family:ABC Ginto Normal;
  font-style:normal;
  font-weight:700;
  src:url(https://theskyisaboveus.github.io/discordMods/fonts/7d66dfcf8e39f27f163fba8d79577fd8.woff2) format("woff2")
}

@font-face{
  font-family:ABC Ginto Normal;
  font-style:italic;
  font-weight:700;
  src:url(https://theskyisaboveus.github.io/discordMods/fonts/9a07cb5ae387a52309b7198543ae5e02.woff2) format("woff2")
}

@font-face{
  font-family:ABC Ginto Nord;
  font-style:normal;
  font-weight:300;
  src:url(https://theskyisaboveus.github.io/discordMods/fonts/5e6f352adb4a6b55ed230f2f91769156.woff2) format("woff2")
}

@font-face{
  font-family:ABC Ginto Nord;
  font-style:italic;
  font-weight:300;
  src:url(https://theskyisaboveus.github.io/discordMods/fonts/30b475dcfa1e8b74d815946e4c18ee09.woff2) format("woff2")
}

@font-face{
  font-family:ABC Ginto Nord;
  font-style:normal;
  font-weight:400;
  src:url(https://theskyisaboveus.github.io/discordMods/fonts/1ace668db419a5014cf75bc116321af3.woff2) format("woff2")
}

@font-face{
  font-family:ABC Ginto Nord;
  font-style:italic;
  font-weight:400;
  src:url(https://theskyisaboveus.github.io/discordMods/fonts/50510b66614a2f395530c61b7c9b6827.woff2) format("woff2")
}

@font-face{
  font-family:ABC Ginto Nord;
  font-style:normal;
  font-weight:500;
  src:url(https://theskyisaboveus.github.io/discordMods/fonts/9e94673570e295b6fb5d4456c4211015.woff2) format("woff2")
}

@font-face{
  font-family:ABC Ginto Nord;
  font-style:italic;
  font-weight:500;
  src:url(https://theskyisaboveus.github.io/discordMods/fonts/6603a2fb4d2bc997e023972a51938144.woff2) format("woff2")
}

@font-face{
  font-family:ABC Ginto Nord;
  font-style:normal;
  font-weight:700;
  src:url(https://theskyisaboveus.github.io/discordMods/fonts/87c79174865938aedf188b7344fb0428.woff2) format("woff2")
}

@font-face{
  font-family:ABC Ginto Nord;
  font-style:italic;
  font-weight:700;
  src:url(https://theskyisaboveus.github.io/discordMods/fonts/d93311938f51e8608a5d5cb2ea975157.woff2) format("woff2")
}

@font-face{
  font-family:ABC Ginto Nord;
  font-style:normal;
  font-weight:800;
  src:url(https://theskyisaboveus.github.io/discordMods/fonts/bc5af8e71e27d363e2eeac75c9628922.woff2) format("woff2")
}

@font-face{
  font-family:ABC Ginto Nord;
  font-style:italic;
  font-weight:800;
  src:url(https://theskyisaboveus.github.io/discordMods/fonts/dc407fd65057fce34a56bf7b6ebb0b9f.woff2) format("woff2")
}

#app-mount .wrapper-1VLyxH {
  border-radius: var(--rs-avatar-shape);
}

#app-mount .wrapper-1VLyxH svg:not(:root) {
  overflow: visible;
}

#app-mount .wrapper-1VLyxH foreignObject {
  -webkit-mask: none;
          mask: none;
}

#app-mount .wrapper-1VLyxH .dots-1BwzZQ circle {
  cy: -8 !important;
}

#app-mount .wrapper-1VLyxH .dots-1BwzZQ circle:nth-child(1) {
  cx: -8.5 !important;
}

#app-mount .wrapper-1VLyxH .dots-1BwzZQ circle:nth-child(2) {
  cx: -2.25 !important;
}

#app-mount .wrapper-1VLyxH .dots-1BwzZQ circle:nth-child(3) {
  cx: 4 !important;
}

#app-mount .wrapper-1VLyxH .mask-1FEkla > rect[x="22"] {
  x: 0;
  y: 0;
}

#app-mount .wrapper-1VLyxH .mask-1FEkla > circle {
  opacity: 0 !important;
  width: 100%;
  height: 100%;
  cx: 43%;
  cy: 20;
}

#app-mount .wrapper-1VLyxH .pointerEvents-9SZWKj[x="14.5"] {
  fill: rgba(0, 0, 0, 0.5) !important;
  width: 30px;
  height: 30px;
  x: 1;
  y: 1;
}

#app-mount .wrapper-1VLyxH img, #app-mount .wrapper-1VLyxH.avatar-AvHqJA {
  border-radius: var(--rs-avatar-shape);
}

#app-mount .wrapper-1VLyxH svg[width="25"][height="15"] > rect {
  rx: calc(var(--rs-avatar-shape) * 2) !important;
  ry: calc(var(--rs-avatar-shape) * 2) !important;
}

#app-mount .wrapper-1VLyxH[style*="80px"] svg.cursorDefault--wfhy5 rect, #app-mount .wrapper-1VLyxH[style*="120px"] svg.cursorDefault--wfhy5 rect {
  ry: calc(var(--rs-avatar-shape) * 3.3);
  rx: calc(var(--rs-avatar-shape) * 3.3);
}

#app-mount .wrapper-1VLyxH rect {
  x: 0;
  y: 0;
  width: 100%;
  height: 100%;
  -webkit-mask: none;
          mask: none;
  display: block;
  rx: var(--rs-avatar-shape);
  ry: var(--rs-avatar-shape);
  fill: transparent !important;
  stroke-width: var(--rs-small-width);
}

#app-mount .wrapper-1VLyxH rect[fill="#43b581"], #app-mount .wrapper-1VLyxH rect[fill="#3ba55c"], #app-mount .wrapper-1VLyxH rect[fill="rgba(67, 181, 129, 1)"], #app-mount .wrapper-1VLyxH rect[mask*=online], #app-mount .wrapper-1VLyxH rect[fill*="hsl(139"], #app-mount .wrapper-1VLyxH rect[fill*="var(--status-green"] {
  stroke: var(--rs-online-color);
}

#app-mount .wrapper-1VLyxH rect[fill="#faa61a"], #app-mount .wrapper-1VLyxH rect[fill="rgba(250, 166, 26, 1)"], #app-mount .wrapper-1VLyxH rect[mask*=idle], #app-mount .wrapper-1VLyxH rect[fill*="hsl(38"], #app-mount .wrapper-1VLyxH rect[fill*="var(--status-yellow"] {
  stroke: var(--rs-idle-color);
}

#app-mount .wrapper-1VLyxH rect[fill="#f04747"], #app-mount .wrapper-1VLyxH rect[fill="rgba(240, 71, 71, 1)"], #app-mount .wrapper-1VLyxH rect[fill="#ed4245"], #app-mount .wrapper-1VLyxH rect[mask*=dnd], #app-mount .wrapper-1VLyxH rect[fill*="hsl(359"], #app-mount .wrapper-1VLyxH rect[fill*="var(--status-red"] {
  stroke: var(--rs-dnd-color);
}

#app-mount .wrapper-1VLyxH rect[fill="#593695"], #app-mount .wrapper-1VLyxH rect[mask*=streaming], #app-mount .wrapper-1VLyxH rect[fill*="var(--status-purple"] {
  stroke: var(--rs-streaming-color);
}

#app-mount .wrapper-1VLyxH rect[fill="#747f8d"], #app-mount .wrapper-1VLyxH rect[mask*=offline], #app-mount .wrapper-1VLyxH rect[fill=NaN] {
  stroke: var(--rs-offline-color);
}

#app-mount .wrapper-1VLyxH rect[fill="#747f8d"], #app-mount .wrapper-1VLyxH rect[mask*=invisible], #app-mount .wrapper-1VLyxH rect[fill="rgba(116, 127, 141, 1)"], #app-mount .wrapper-1VLyxH rect[fill*="hsl(214"], #app-mount .wrapper-1VLyxH rect[fill="var(--status-grey-500)"] {
  stroke: var(--rs-invisible-color);
}

#app-mount .wrapper-1VLyxH rect[x="16"] {
  width: 24px;
  height: 24px;
}

#app-mount .wrapper-1VLyxH rect[x="28"] {
  width: 40px;
  height: 40px;
  overflow: visible;
}

#app-mount .wrapper-1VLyxH[style*="32px"] rect {
  width: 32px;
  height: 32px;
  x: -14.5;
  y: -17;
  position: relative;
  z-index: 0;
}

#app-mount .wrapper-1VLyxH[style*="40px"] > svg > svg rect {
  width: 40px;
  height: 40px;
  x: -19;
  y: -20;
  ry: calc(var(--rs-avatar-shape) * 3.3);
  rx: calc(var(--rs-avatar-shape) * 3.3);
}

#app-mount .wrapper-1VLyxH[style*="40px"] foreignObject[mask*=mobile] img {
  width: calc(100% - 12px);
}

#app-mount .wrapper-1VLyxH[style*="80px"] svg.cursorDefault--wfhy5 rect {
  x: -48;
  y: -52;
}

#app-mount .wrapper-1VLyxH[style*="80px"] rect {
  width: 80px;
  height: 80px;
  stroke-width: var(--rs-medium-width);
}

#app-mount .wrapper-1VLyxH[style*="80px"] img {
  -webkit-clip-path: inset(calc(var(--rs-medium-spacing) + 1px) calc(var(--rs-medium-spacing) + 1px) round var(--rs-avatar-shape));
          clip-path: inset(calc(var(--rs-medium-spacing) + 1px) calc(var(--rs-medium-spacing) + 1px) round var(--rs-avatar-shape));
}

#app-mount .wrapper-1VLyxH[style*="120px"] svg.cursorDefault--wfhy5 rect {
  x: -70;
  y: -76;
}

#app-mount .wrapper-1VLyxH[style*="120px"] rect {
  width: 120px;
  height: 120px;
  stroke-width: var(--rs-large-width);
}

#app-mount .wrapper-1VLyxH[style*="120px"] img {
  -webkit-clip-path: inset(calc(var(--rs-large-spacing) + 1px) calc(var(--rs-large-spacing) + 1px) round var(--rs-avatar-shape));
          clip-path: inset(calc(var(--rs-large-spacing) + 1px) calc(var(--rs-large-spacing) + 1px) round var(--rs-avatar-shape));
}

#app-mount .wrapper-1VLyxH:not([style*="80px;"]):not([style*="120px;"]):not([style*="16px"]) > svg > foreignObject:not(:only-child) img {
  -webkit-clip-path: inset(calc(var(--rs-small-spacing) + 1px) calc(var(--rs-small-spacing) + 1px) round var(--rs-avatar-shape));
          clip-path: inset(calc(var(--rs-small-spacing) + 1px) calc(var(--rs-small-spacing) + 1px) round var(--rs-avatar-shape));
}

#app-mount .wrapper-1VLyxH[style="width: 16px; height: 16px;"] rect {
  display: none;
}

#app-mount .wrapper-1VLyxH[style="width: 16px; height: 16px;"] img {
  -webkit-clip-path: none;
          clip-path: none;
}

#app-mount .wrapper-1VLyxH foreignObject[mask*=mobile] {
  width: calc(100% + 4px);
}

#app-mount .wrapper-1VLyxH foreignObject[mask*=mobile][width="32"] img {
  width: calc(100% - 12px);
}

#app-mount .wrapper-1VLyxH foreignObject[mask*=mobile][width="80"] img {
  width: calc(100% - 16px);
}

#app-mount .wrapper-1VLyxH foreignObject[mask*=mobile][width="80"]:after {
  width: 14px;
  height: 18px;
  top: 75%;
}

#app-mount .wrapper-1VLyxH foreignObject[mask*=mobile][width="120"] img {
  width: calc(100% - 22px);
}

#app-mount .wrapper-1VLyxH foreignObject[mask*=mobile][width="120"]:after {
  width: 24px;
  height: 20px;
  top: 75%;
}

#app-mount .wrapper-1VLyxH foreignObject[mask*=mobile]:after {
  content: "";
  display: var(--rs-phone-visible, block);
  -webkit-mask: url('data:image/svg+xml; utf-8,<svg aria-hidden="true" focusable="false" data-prefix="fas" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M272 0H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h224c26.5 0 48-21.5 48-48V48c0-26.5-21.5-48-48-48zM160 480c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32zm112-108c0 6.6-5.4 12-12 12H60c-6.6 0-12-5.4-12-12V60c0-6.6 5.4-12 12-12h200c6.6 0 12 5.4 12 12v312z"></path></svg>') center no-repeat;
          mask: url('data:image/svg+xml; utf-8,<svg aria-hidden="true" focusable="false" data-prefix="fas" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M272 0H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h224c26.5 0 48-21.5 48-48V48c0-26.5-21.5-48-48-48zM160 480c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32zm112-108c0 6.6-5.4 12-12 12H60c-6.6 0-12-5.4-12-12V60c0-6.6 5.4-12 12-12h200c6.6 0 12 5.4 12 12v312z"></path></svg>') center no-repeat;
  position: absolute;
  width: 10px;
  height: 14px;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background: var(--rs-phone-color, var(--rs-online-color));
  z-index: 1;
}

#app-mount .wrapper-1VLyxH foreignObject[mask*=mobile] + rect {
  stroke: var(--rs-phone-color, var(--rs-online-color));
}

#app-mount .avatarStack-3vfSFa {
  position: relative;
}

#app-mount .avatarSpeaking-33RRJU {
  position: absolute;
  top: 2px;
  left: 2px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border-radius: var(--rs-avatar-shape);
  box-shadow: inset 0 0 0 2px var(--rs-self-speaking-colour, #57d39b), inset 0 0 0 3px var(--background-secondary);
}

#app-mount .message-2CShn3 .wrapper-1VLyxH foreignObject[mask*=mobile] {
  width: calc(100% + 3px);
}

#app-mount .message-2CShn3 .wrapper-1VLyxH rect[mask*=typing] {
  width: calc(100% - 9px);
}

#app-mount .avatarHint-2g3Mcd foreignObject {
  -webkit-mask: none;
          mask: none;
}

#app-mount .avatarHintInner-3gk_Yx {
  border-radius: var(--rs-avatar-shape) !important;
  padding-top: 0;
  width: calc(100% - var(--rs-medium-width) - var(--rs-medium-spacing) + 2px);
  height: calc(100% - var(--rs-medium-width) - var(--rs-medium-spacing) + 2px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
}

#app-mount .memberOffline-2lN7gt img {
  -webkit-clip-path: none !important;
          clip-path: none !important;
}

#app-mount .offline-22aM7E img {
  -webkit-clip-path: none !important;
          clip-path: none !important;
}

#app-mount .avatarWrapperNonUserBot-3fzpUZ .wrapper-1VLyxH img {
  -webkit-clip-path: none !important;
          clip-path: none !important;
}

#app-mount .userInfo-2WpsYG .wrapper-1VLyxH {
  margin-top: 1px;
  margin-left: 1px;
}

#app-mount .info-3pQQBb .line-18uChy:last-child:after {
  content: "RadialStatus " var(--rs-version);
  display: block;
}

.accountProfilePopoutWrapper-3GskID .bannerSVGWrapper-qc0szY,
.accountProfilePopoutWrapper-3GskID .avatarWrapper-3y0KZ1,
.accountProfilePopoutWrapper-3GskID .profileBadges-31rDHI,
.accountProfilePopoutWrapper-3GskID .userProfileInner-3F03PX:before,
.accountProfilePopoutWrapper-3GskID .userPopoutOverlayBackground-dKOOda div:not(.menu-1QACrS, .menu-1QACrS *),
.accountProfilePopoutWrapper-3GskID [id="account-divider-1"] {
    display: none;
}

.accountProfilePopoutWrapper-3GskID {
    left: 0;
}

.accountProfilePopoutWrapper-3GskID .userPopoutOverlayBackground-dKOOda {
    margin: 0;
    border-radius: 4px;
}

.accountProfilePopoutWrapper-3GskID > div,
.accountProfilePopoutWrapper-3GskID .menu-KSaHL1 .submenu-1apzyU {
    border-radius: 4px;
    width: 220px;
}

.role-2TIOKu {
  transform: translate(0);
  border: 0;
  border-radius: var(--roles-roundness-calc);
}

.role-2TIOKu .roleRemoveIcon-387wKV {
  margin: 0;
  left: unset;
  transform: translate(50%,-50%);
}

.role-2TIOKu .roleRemoveButton-17oXnT{position: static}
.role-2TIOKu .roleCircle-3K9O3d:before {
  content: '';
  top: 0;left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  background: inherit;
  border-radius: var(--roles-roundness-calc);
  border: 2px solid transparent;
  -webkit-mask: linear-gradient(#000 0 0) padding-box, linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
}